In [1]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_1 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-3694aee8-51b9-4378-9696-1f978606f465',
    'IBM_API_KEY_ID': 'YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',
    'FILE': 'BK_18v1.csv'
}
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_256cc9b3022041aeadc6f49afe94561b = 'https://s3.eu-geo.objectstorage.softlayer.net'
else:
    endpoint_256cc9b3022041aeadc6f49afe94561b = 'https://s3.eu-geo.objectstorage.service.networklayer.com'

client_256cc9b3022041aeadc6f49afe94561b = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_256cc9b3022041aeadc6f49afe94561b)

body = client_256cc9b3022041aeadc6f49afe94561b.get_object(Bucket='ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',Key='BK_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
print(df_data_1.head())
print(df_data_1.shape)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Borough  Block   Lot   CD  CT2010  CB2010  SchoolDist  Council  ZipCode  \
0      BK      1     1  302    21.0     NaN        13.0     33.0  11201.0
1      BK      1    50  302    21.0  2000.0        13.0     33.0  11201.0
2      BK      1  7501  302    21.0  2000.0        13.0     33.0  11201.0
3      BK      3     1  302    21.0  3002.0        13.0     33.0  11201.0
4      BK      3     5  302    21.0     NaN        13.0     33.0  11201.0

  FireComp  ...  ZMCode  Sanborn   TaxMap  EDesigNum        APPBBL  \
0     L118  ...     NaN  302 007  30101.0        NaN  3.000010e+09
1     L118  ...     NaN  302 007  30101.0      E-231  0.000000e+00
2     L118  ...     NaN  302 007  30101.0        NaN  3.000010e+09
3     L118  ...     NaN  302 007  30101.0        NaN  0.000000e+00
4     L118  ...     NaN  302 007  30101.0        NaN  0.000000e+00

      APPDate PLUTOMapID FIRM07_FLAG PFIRM15_FLAG Version
0  11/26/2013          1         1.0          1.0    18V1
1         NaN          1         1.0          1.0    18V1
2  03/04/2016          1         1.0          1.0    18V1
3         NaN          1         1.0          1.0    18V1
4         NaN          4         1.0          1.0    18V1

[5 rows x 87 columns]
(277316, 87)

In [2]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_2 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-3694aee8-51b9-4378-9696-1f978606f465',
    'IBM_API_KEY_ID': 'YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',
    'FILE': 'BX_18v1.csv'
}
body = client_256cc9b3022041aeadc6f49afe94561b.get_object(Bucket='ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',Key='BX_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
print(df_data_2.head())
print(df_data_2.shape)

  Borough  Block  Lot   CD  CT2010  CB2010  SchoolDist  Council  ZipCode  \
0      BX   2260    1  201    19.0  1022.0         7.0      8.0  10454.0
1      BX   2260    4  201    19.0  1022.0         7.0      8.0  10454.0
2      BX   2260   10  201    19.0  1022.0         7.0      8.0  10454.0
3      BX   2260   17  201    19.0  1022.0         7.0      8.0  10454.0
4      BX   2260   18  201    19.0  1022.0         7.0      8.0  10454.0

  FireComp  ...  ZMCode  Sanborn   TaxMap  EDesigNum  APPBBL APPDate  \
0     L029  ...     NaN  209S016  20901.0      E-143     0.0     NaN
1     L029  ...     NaN  209S016  20901.0      E-143     0.0     NaN
2     L029  ...     NaN  209S016  20901.0      E-143     0.0     NaN
3     L029  ...     NaN  209S016  20901.0      E-143     0.0     NaN
4     L029  ...     NaN  209S016  20901.0      E-143     0.0     NaN

  PLUTOMapID FIRM07_FLAG PFIRM15_FLAG Version
0          1         NaN          NaN    18V1
1          1         NaN          NaN    18V1
2          1         NaN          NaN    18V1
3          1         NaN          NaN    18V1
4          1         NaN          NaN    18V1

[5 rows x 87 columns]
(89854, 87)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_3 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-3694aee8-51b9-4378-9696-1f978606f465',
    'IBM_API_KEY_ID': 'YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',
    'FILE': 'MN_18v1.csv'
}
body = client_256cc9b3022041aeadc6f49afe94561b.get_object(Bucket='ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',Key='MN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
print(df_data_3.head())
print(df_data_3.shape)

  Borough  Block  Lot   CD  CT2010  CB2010  SchoolDist  Council  ZipCode  \
0      MN      1   10  101     5.0  1011.0         2.0      1.0  10004.0
1      MN      1  101  101     1.0  1001.0         2.0      1.0  10004.0
2      MN      1  201  101     1.0  1000.0         2.0      1.0  10004.0
3      MN      1  301  101     NaN     NaN         2.0      1.0  10004.0
4      MN      1  401  101     NaN     NaN         2.0      1.0  10004.0

  FireComp  ...  ZMCode   Sanborn   TaxMap  EDesigNum  APPBBL APPDate  \
0     E007  ...       Y   199 999  10101.0        NaN     0.0     NaN
1     E007  ...       Y   199 999  10101.0        NaN     0.0     NaN
2     E007  ...     NaN   199 999  10101.0        NaN     0.0     NaN
3     E007  ...     NaN   199 999  10101.0        NaN     0.0     NaN
4     E007  ...     NaN  1 99 999  10101.0        NaN     0.0     NaN

  PLUTOMapID FIRM07_Flag PFIRM15_Flag Version
0          1         1.0          1.0    18V1
1          1         NaN          1.0    18V1
2          1         NaN          1.0    18V1
3          4         1.0          1.0    18V1
4          4         1.0          1.0    18V1

[5 rows x 87 columns]
(42966, 87)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (20,23,24,26,64) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_4 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-3694aee8-51b9-4378-9696-1f978606f465',
    'IBM_API_KEY_ID': 'YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',
    'FILE': 'QN_18v1.csv'
}
body = client_256cc9b3022041aeadc6f49afe94561b.get_object(Bucket='ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',Key='QN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_4 = pd.read_csv(body)
print(df_data_4.head())
print(df_data_4.shape)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Borough  Block  Lot   CD  CT2010  CB2010  SchoolDist  Council  ZipCode  \
0      QN      6    1  402     1.0     NaN        30.0     26.0  11101.0
1      QN      6    3  402     1.0  1015.0        30.0     26.0  11101.0
2      QN      6    8  402     1.0  1011.0        30.0     26.0  11101.0
3      QN      6   20  402     1.0     NaN        30.0     26.0  11101.0
4      QN      6   30  402     1.0     NaN        30.0     26.0  11101.0

  FireComp  ...  ZMCode  Sanborn   TaxMap  EDesigNum        APPBBL  \
0     L115  ...       Y  401 011  40101.0        NaN  4.000060e+09
1     L115  ...     NaN  401 011  40101.0        NaN  0.000000e+00
2     L115  ...     NaN  401 011  40101.0        NaN  4.000060e+09
3     L115  ...     NaN  401 011  40101.0        NaN  4.000060e+09
4     L115  ...     NaN  401 011  40101.0        NaN  4.000060e+09

      APPDate PLUTOMapID FIRM07_FLAG PFIRM15_FLAG Version
0  09/20/2013          1         1.0          1.0    18V1
1         NaN          1         1.0          1.0    18V1
2  08/07/2013          1         1.0          1.0    18V1
3  09/20/2013          1         1.0          1.0    18V1
4  09/08/2017          1         1.0          1.0    18V1

[5 rows x 87 columns]
(324583, 87)

In [5]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_5 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-3694aee8-51b9-4378-9696-1f978606f465',
    'IBM_API_KEY_ID': 'YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',
    'FILE': 'SI_18v1.csv'
}
body = client_256cc9b3022041aeadc6f49afe94561b.get_object(Bucket='ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',Key='SI_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_5 = pd.read_csv(body)
print(df_data_5.head())
print(df_data_5.shape)

  Borough  Block  Lot   CD  CT2010  CB2010  SchoolDist  Council  ZipCode  \
0      SI      1   10  501     3.0  2000.0        31.0     49.0  10301.0
1      SI      1   17  501     3.0     NaN        31.0     49.0  10301.0
2      SI      1   18  501     3.0     NaN        31.0     49.0  10301.0
3      SI      1   19  501     3.0     NaN        31.0     49.0  10301.0
4      SI      1   21  501     3.0     NaN        31.0     49.0  10301.0

  FireComp  ...  ZMCode  Sanborn   TaxMap  EDesigNum  APPBBL APPDate  \
0     L078  ...     NaN  501 017  50101.0        NaN     0.0     NaN
1     L078  ...     NaN  501 017  50101.0        NaN     0.0     NaN
2     L078  ...     NaN  501 017  50101.0        NaN     0.0     NaN
3     L078  ...     NaN  501 017  50101.0        NaN     0.0     NaN
4     L078  ...     NaN  501 017  50101.0        NaN     0.0     NaN

  PLUTOMapID FIRM07_FLAG PFIRM15_FLAG Version
0          1         NaN          NaN    18V1
1          1         NaN          NaN    18V1
2          1         NaN          NaN    18V1
3          1         NaN          NaN    18V1
4          1         NaN          NaN    18V1

[5 rows x 87 columns]
(124493, 87)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,24,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
client_cred = ibm_boto3.client(service_name='s3',
ibm_api_key_id='YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
ibm_auth_endpoint='https://iam.cloud.ibm.com/oidc/token',
config=Config(signature_version='oauth'),
endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

bucket= 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim'
df_data_5.to_pickle('./df_raw.pkl')
client_cred = client_256cc9b3022041aeadc6f49afe94561b
client_cred.upload_file('./df_raw.pkl',bucket,'df_raw_cos.pkl')

In [7]:
client_cred.download_file(Bucket=bucket,Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')
staten = pd.read_pickle('./df_raw_local.pkl')
staten.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,SI,1,10,501,3.0,2000.0,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
1,SI,1,17,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
2,SI,1,18,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
3,SI,1,19,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1
4,SI,1,21,501,3.0,NaN,31.0,49.0,10301.0,L078,...,NaN,501 017,50101.0,NaN,0.0,NaN,1,NaN,NaN,18V1

In [8]:
bucket= 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim'
df_data_4.to_pickle('./df_raw.pkl')
client_cred = client_256cc9b3022041aeadc6f49afe94561b
client_cred.upload_file('./df_raw.pkl',bucket,'df_raw_cos.pkl')

client_cred.download_file(Bucket=bucket,Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')
queen = pd.read_pickle('./df_raw_local.pkl')
queen.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,1.0,1.0,18V1
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/08/2017,1,1.0,1.0,18V1

In [9]:
bucket= 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim'
df_data_3.to_pickle('./df_raw.pkl')
client_cred = client_256cc9b3022041aeadc6f49afe94561b
client_cred.upload_file('./df_raw.pkl',bucket,'df_raw_cos.pkl')

client_cred.download_file(Bucket=bucket,Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')
manhattan = pd.read_pickle('./df_raw_local.pkl')
manhattan.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.0,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1

In [10]:
bucket= 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim'
df_data_2.to_pickle('./df_raw.pkl')
client_cred = client_256cc9b3022041aeadc6f49afe94561b
client_cred.upload_file('./df_raw.pkl',bucket,'df_raw_cos.pkl')

client_cred.download_file(Bucket=bucket,Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')
bronx = pd.read_pickle('./df_raw_local.pkl')
bronx.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [11]:
bucket= 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim'
df_data_1.to_pickle('./df_raw.pkl')
client_cred = client_256cc9b3022041aeadc6f49afe94561b
client_cred.upload_file('./df_raw.pkl',bucket,'df_raw_cos.pkl')

client_cred.download_file(Bucket=bucket,Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')
brooklyn = pd.read_pickle('./df_raw_local.pkl')
brooklyn.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1

In [12]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_6 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-3694aee8-51b9-4378-9696-1f978606f465',
    'IBM_API_KEY_ID': 'YvikRX53gzO8fvVreirDv5kHBltvbjmlUf5OWEVD7aSn',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',
    'FILE': '311_Service_Requests_from_2010_to_Present_min.csv'
}
body = client_256cc9b3022041aeadc6f49afe94561b.get_object(Bucket='ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim',Key='311_Service_Requests_from_2010_to_Present_min.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_6 = pd.read_csv(body)
print(df_data_6.shape)

(6019843, 16)

In [13]:
bucket= 'ibmpythondatasciencecapstone-donotdelete-pr-8kcbvnietwxfim'
df_data_6.to_pickle('./df_raw.pkl')
client_cred = client_256cc9b3022041aeadc6f49afe94561b
client_cred.upload_file('./df_raw.pkl',bucket,'df_raw_cos.pkl')

client_cred.download_file(Bucket=bucket,Key='df_raw_cos.pkl',Filename='./df_raw_local.pkl')
service_requests = pd.read_pickle('./df_raw_local.pkl')

In [25]:
service_requests['Incident Address'].isnull().sum()

52825

In [44]:
zip_codes = list(bronx['ZipCode'].unique())
len(zip_codes) - 1

26

In [46]:
zip_codes_2 = list(queen['ZipCode'].unique())
print(len(zip_codes_2)-1)

65